h1 {font-family: 'Courier New', Courier, monospace; text-align: center; }
h2 {font-family: 'Courier New', Courier, monospace; text-align: center; }
h3 {font-family: 'Courier New', Courier, monospace; text-align: center; }   
h4 {font-family: 'Courier New', Courier, monospace; text-align: center; }  


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

p {text-align: center;}

ul {padding-inline: 20px;}

h1, h2 {
    color: #000000;
}

h2 {
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
    margin-top: 20px;
}

    section {
      margin-top: 20px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
    }